{% extends 'base.html' %}

{% block title %}
    {% load static %}
    <link href= "{% static 'css/home.css'%}" rel= "stylesheet">
{% endblock %}

{% block header-content %} {% endblock %}

{% block page-content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title mt-2">Give us feedback</h4>
            </header>
            <article class="card-body">
                <form role="form" action="{% url 'feedback_form' %}" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col form-group">
                            <label>First name </label>
                            <input type="text" class="form-control" placeholder="" name="fname">
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Last name</label>
                            <input type="text" class="form-control" placeholder=" " name="lname">
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="" name="email">
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div> <!-- form-group end.// -->
                    <div class="form-group">
                        <label>Message</label>
                        <input type="text" class="form-control" placeholder="" name="message">

                    </div> <!-- form-group end.// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Submit  </button>
                    </div> <!-- form-group// -->

                </form>
            </article> <!-- card-body end .// -->
        </div> <!-- card.// -->
    </div> <!-- col.//-->
</div>

    {% if  success %}
                <div class="row">
                    <p style="color: red">
                        feedback is send succesfully
                    </p>
                </div>
            {% endif %}

{% endblock %}

{% block page-footer %} {% endblock %}

