<div class= "container ">
    <h2>fiction >> romance </h2>

    <div id="myCarousel4" class="carousel slide bg" data-ride="carousel" data-interval="0">
    <!-- Carousel indicators -->
        <ol class="carousel-indicators">

            <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel4" data-slide-to="1"></li>
            <li data-target="#myCarousel4" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item carousel-item active">
                <div class="row">
                    {% for book in booklist4 %}
                        <div class="col-sm-3">
                            <a href="{% url 'detail_page' book.btitle %}">
                                <div class="img-box">
                                    <img src="/media/{{ book.bcover }}" class="img-responsive img-fluid" alt="">
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        <div class="item carousel-item">
            <div class="row">
                {% for book in booklist4 %}
                    <div class="col-sm-3">
                        <a href="{% url 'detail_page' book.btitle %}">
                            <div class="img-box">
                                <img src="/media/{{ book.bcover }}" class="img-responsive img-fluid" alt="">
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

{#        <div class="item carousel-item">#}
{#            <div class="row">#}
{#                {% for book in booklist4 %}#}
{#                    {% if loop.last <= 4 %}#}
{#                        <div class="col-sm-3">#}
{#                            <a href="{% url 'detail_page' book.btitle %}">#}
{#                                <div class="img-box">#}
{#                                    <img src="/media/{{ book.bcover }}" class="img-responsive img-fluid" alt="">#}
{#                                </div>#}
{#                            </a>#}
{#                        </div>#}
{#                    {% endif %}#}
{#               {% endfor %}#}
{#            </div>#}
{#        </div>#}

    </div>
        <!-- Carousel controls -->
        <a class="carousel-control left carousel-control-prev" href="#myCarousel4" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control right carousel-control-next" href="#myCarousel4" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
